.container {
	display: block;
	text-align: center;
	width: 100vw;
  height: 100vh;
}

.tab {
	&-wrap {
		display: flex;
		flex-wrap: wrap;
		margin-top: 70px;
	}

	&-label {
		cursor: pointer;
		color: $gray;
		padding: 30px 50px;
		font-size: 48px;
		border: 5px solid $white;
		order: -1;
	}

	&-label:first-child {
		margin-left: 220px;
		//効かない。助言求ム
	}

	&-content {
		width: 100%;
		display: none;
		margin: -5px; //タブの下線の黒とボーダートップの白を重ねてる。黒が優先されてほしい
		border-top: 5px solid $white;//これでタブ下の線を作ってる
	}

	&-switch:before {
			content: "";
			width: 1000px;
			bottom: 0;
	}

	&-switch:checked+.tab-label {
		color: $white;
		border-bottom: black !important;//選択したタブ下を黒くするための記述。importantを当てているが優先されない
	}

	&-switch:checked+.tab-label+.tab-content {
		 display: block;
	}

	&-switch {
		display: none;
	}
}

.prevandnext {
	&-btn {
		cursor: pointer;
		background-color: $black;
		border: none;
		outline: none;
	}

	&-icon {
	font-size: 200px;
	color: $white;
	}
}

.character {
	&-select {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-around;
		width : auto;
		height: 430px;
		margin-top: 50px;
	}

	&-icon {
		color: $green;
		margin-right: 10px;
	}

	&-name {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		font-size: 64px;
		margin: 64px auto;
	}
	
	&-btn {
		width: 270px;
    height: 100px;
		margin: 0 25px;
		margin-bottom: 70px;
	}
}
