.tab {
	&-wrap {
		display: flex;
		flex-wrap: wrap;
	}

	&-label {
		color: $gray;
		margin-top: 70px;
		padding: 30px 50px;
		font-size: 48px;
		border: 5px solid $white;
		order: -1;
	}

	&-label:first-child {
		margin-left: 220px;
		//効かない。助言求ム
	}

	&-content {
		width: 100%;
		display: none;
		margin: -5px;
		border-top: 5px solid #FFFFFF;
	}

	&-switch:before {
			content: "";
			width: 1000px;
			bottom: 0;
	}

	&-switch:checked+.tab-label {
		color: $white;
		border-bottom: black ;
		z-index: 1000;
	}

	&-switch:checked+.tab-label+.tab-content {
		 display: block;
	}

	&-switch {
		display: none;
	}
}

.leftandright {
	&-btn {
		background-color: $black;
		border-color: $black;
	}

	&-icon {
	font-size: 200px;
	color: $white;
	}
}

.container {
	display: block;
	text-align: center;
	margin: 50px 70px 50px 70px;
}

.charactor {
	&-select {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		width : auto;
		height: 430px;
	}

	&-icon {
		color: green;
	}

	&-name {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		font-size: 64px;
	}
	
	&-button {
		width: 270px;
    height: 100px;
		margin: 0 25px;
	}
}
