.container {
  text-align: center;
  padding: 50px 0 0;
}

.join{
	&-box {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 340px auto 150px;
		width: 790px;
		font-size: 64px;
	}

	&-form {
		font-size: 64px;
		width: 380px;
		height: 100px;
		outline: none;
		margin : 0px 0px 0px 30px;
		padding: 0px 15px 0px;
	}
}
