.container {
  text-align: center;
  padding: 50px 0 0;
}

.join{
	&-box {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 340px auto 150px;
		width: 810px;
		font-size: 64px;
	}
}
