.container {
  text-align: center;
  padding: 50px 0 0;
}

.join_box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 340px auto 150px;
	width: 760px;
	font-size: 64px;
}

.join_form {
	font-size: 64px;
	width: 380px;
	height: 100px;
}