.canvas-wrapper {
  position: relative;
  width: 1200px;
  height: 500px;
  background: $white;
  transform-origin: 0 0;

  @include tablet() {
    transform: scale(0.62);
  }

  @include sp() {
    transform: scale(0.25);
  }

  & canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}
