.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.form {
  &-register {
    width: 100%;
  }

  &-text {
    &__boxes {
      width: 100%;
      max-width: 750px;
      margin: 0 auto;
    }
  }

  &-label {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 10px 0;

    &__text {
      margin: 0 50px 0 0;
      font-size: 4.8rem;
      white-space: nowrap;
    }

    & > div {
      max-width: 460px;
    }
  }

  &-note {
    max-width: 460px;
    margin: 0 0 40px auto;
    font-size: 2.4rem;

    &:last-of-type {
      margin: 0 0 150px auto;
    }
  }

  &-error {
    margin: 0 0 40px auto;
    color: $red;

    &:last-of-type {
      margin: 0 0 40px auto;
    }
  }

  &-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
  }

  &-button {
    margin: 0 25px;
  }
}

.error {
  &-message {
    width: 100%;
    margin: 0 0 40px;
    font-size: 4.8rem;
    color: $red;
    text-align: center;
  }
}
