.container {
  padding-top: 120px;

  @include sp() {
    padding-top: 60px;
  }
}

.user {
  &-icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    @include sp() {
      width: 150px;
      height: 150px;
    }

    &__area {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      height: 250px;
      margin: 0 auto 100px;
      background: $white;
      border-radius: 50%;

      @include sp() {
        width: 200px;
        height: 200px;
        margin: 0 auto 50px;
      }
    }

    &__filter {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      height: 250px;
      cursor: pointer;
      background: $filter;
      border-radius: 50%;

      @include sp() {
        width: 200px;
        height: 200px;
      }
    }

    &__content {
      text-align: center;
    }

    &__select {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 0 10px;

      & .user-icon__area {
        margin: 0;

        @include sp() {
          width: 150px;
          height: 150px;
        }
      }

      & .user-icon {
        @include sp() {
          width: 100px;
          height: 100px;
        }
      }
    }

    &__name {
      margin: 0 0 40px;
      font-size: $medium;

      @include sp() {
        margin: 0 0 20px;
        font-size: 2rem;
      }
    }
  }
}

.info {
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 60px;
  font-size: $large;

  @include sp() {
    max-width: 600px;
    padding: 0 15px;
    margin: 0 auto 40px;
    font-size: $small;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 40px;

    @include sp() {
      flex-wrap: wrap;
      margin: 0 0 30px;
    }

    &:nth-last-of-type() {
      margin: 0;
    }
  }

  &-label {
    width: 50%;

    @include sp() {
      width: 100%;
      margin: 0 0 5px;
    }
  }

  &-data {
    width: 50%;

    @include sp() {
      width: 100%;
    }
  }
}

.sync {
  &-icon {
    font-size: 50px;
  }
}

.question {
  &-icon {
    font-size: 2.4rem;
    color: $white;
    vertical-align: top;

    @include sp() {
      font-size: 1.4rem;
    }
  }
}

.rate {
  &-icon {
    width: auto;
    height: 48px;

    @include sp() {
      height: 28px;
    }
  }
}

.caret {
  &-icon {
    font-size: 10rem;
    color: $white;
    cursor: pointer;

    @include sp() {
      font-size: 5rem;
    }
  }
}

.check {
  &-icon {
    font-size: $medium;
    color: $green;

    @include sp() {
      font-size: 2rem;
    }
  }
}

.btn {
  &-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px;

    & button {
      &:first-of-type {
        margin-left: 14px;
      }

      &:last-of-type {
        margin-right: 14px;
      }
    }
  }
}

.error {
  &-message {
    margin-bottom: 60px;
    font-size: $large;
    color: $red;
    text-align: center;

    @include sp() {
      margin-bottom: 40px;
      font-size: $small;
    }
  }
}
