<nuxt-link
  v-if="to"
  :to="to"
  :class="{
    btn: true,
    'btn-small': size === 'small',
    'btn-large': size === 'large',
  }"
>
  <span class="btn-text">{{ text }}</span>
</nuxt-link>
<button
  v-else
  type="button"
  :class="{
    btn: true,
    'btn-small': size === 'small',
    'btn-large': size === 'large',
    isSonar,
    topLeft,
    topRight,
    bottomLeft,
    bottomRight,
  }"
>
  <span class="btn-text">
    {{ text }}
    <Sonar
      v-if="isSonar"
      :topLeft="topLeft"
      :topRight="topRight"
      :bottomLeft="bottomLeft"
      :bottomRight="bottomRight"
    />
  </span>
</button>
