<div>
  <div class="hamburger-menu" :class="{'active': showMenu}" @click="onClickMenu">
    <span />
    <span />
    <span />
  </div>
  <nav class="menu" :class="{'menu-active': showMenu}">
    <ul class="menu-content">
      <li
        v-for="item in menu"
        class="menu-item"
        :class="{'disabled': isPathSame(item.path)}"
        @click="onClickMenuItem(item.path)"
      >
        <span class="menu-item__name">
          {{ item.name }}
        </span>
      </li>
    </ul>
  </nav>
  <ModalWithButtons ref="logoutModal">
    <template v-slot:content>
      <p>ログアウトしますか？</p>
    </template>
    <template v-slot:btns>
      <Button class="show-pc" @click.native="closeModal">
        <template v-slot:text>
          <span>いいえ</span>
        </template>
      </Button>
      <Button class="show-pc" @click.native="logout">
        <template v-slot:text>
          <span>はい</span>
        </template>
      </Button>
      <Button class="show-sp" size="small" @click.native="closeModal">
        <template v-slot:text>
          <span>いいえ</span>
        </template>
      </Button>
      <Button class="show-sp" size="small" @click.native="logout">
        <template v-slot:text>
          <span>はい</span>
        </template>
      </Button>
    </template>
  </ModalWithButtons>
</div>
