.container {
  padding-top: 50px;

  @include sp() {
    padding-top: 30px;
  }
}

.rank {
  &-box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 650px;
    height: 200px;
    padding: 40px 80px;
    margin: 0 auto 30px;
    border: 5px solid $white;

    @include sp() {
      height: 150px;
      padding: 20px;
      margin: 0 auto 20px;
    }
  }

  &-img {
    width: 100px;
    margin-right: 100px;

    @include sp() {
      width: 75px;
      margin-right: 20px;
    }
  }

  &-name {
    margin: 0;
    font-size: $large;

    @include sp() {
      font-size: $small;
    }
  }

  &-rate {
    margin: 0;
    font-size: $medium;

    @include sp() {
      font-size: 2rem;
    }
  }
}
