.pagination {
  text-align: center;
}

.num {
  display: inline-block;
  padding: 0 20px;
  font-size: $medium;
  cursor: pointer;

  @include sp() {
    padding: 0 7.5px;
    font-size: $xsmall;
  }
}

.active {
  color: $gray;
  cursor: auto;
}

.icon {
  padding: 0 10px;
  font-size: $medium;
  cursor: pointer;

  @include sp() {
    padding: 0 7.5px;
    font-size: $xsmall;
  }
}
