<div class="container">
  <div v-if="user">
    <div class="avatar-area">
      <img :src="getFullImagePath(user.avatar)" alt="avatar" class="avatar" />
    </div>
    <div class="info">
      <div class="info-item">
        <div class="info-label">ユーザーID</div>
        <div class="info-data">{{ userId }}</div>
      </div>
      <div class="info-item">
        <div class="info-label">
          レート
          <nuxt-link to="/rank" class="question-link">
            <Fa :icon="['far', 'question-circle']" class="question-icon" area-hidden="true" />
          </nuxt-link>
        </div>
        <div class="info-data">
          <img :src="getFullImagePath(user.rank)" alt="rank" class="rank" />
          {{ user.rate }}
        </div>
      </div>
      <div class="info-item">
        <div class="info-label">戦績</div>
        <div class="info-data">{{ formatHistory() }}</div>
      </div>
    </div>
    <div class="btn-area">
      <Button to="/profile/edit" size="middle">
        <template v-slot:text>
          <span>へんしゅう</span>
        </template>
      </Button>
    </div>
  </div>
  <p v-if="errorMsg" class="error-message">{{ errorMsg }}</p>
</div>
