.tooltip {
  max-width: 100px;
  padding: 10px 20px;
  font-size: 2.4rem;
  color: $white;
  background: $black;
  border: 5px solid $white;

  @include sp() {
    padding: 5px 10px;
    font-size: $xsmall;
  }
}
