.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 45px 0 0 0;
}

.world {
	&-list {
		justify-content: space-between;
		width: 850px;
		text-align: center;
		font-size: 3.8rem;
	}
}
.table{
	border-collapse:collapse;
	width: 850px;
}

.border{
	border-bottom: 3px solid white;
}

.title{
	font-size: 4.0rem;
	justify-content: space-between;
	align-items: left;
	width: 280px;
	height: 120px;
	margin-left: 100px;
}