.container {
  padding-top: 90px;
  font-size: 4.2rem;

  @include sp() {
    padding-top: 60px;
    font-size: 1.6rem;
  }
}

.table {
  width: 100%;
  margin: 0 auto 40px;
  white-space: nowrap;
  border-collapse: collapse;

  @include sp() {
    margin: 0 auto 20px;
  }

  &-header {
    border-bottom: 5px solid $white;

    &__col {
      padding: 0 0 30px;
    }
  }

  &-body {
    &__col {
      padding: 30px 0 0;
      text-align: center;
    }
  }
}

.error {
  &-message {
    margin: 0 0 40px;
    color: $red;
    text-align: center;

    @include sp() {
      margin: 0 0 20px;
    }
  }
}

.btn {
  &-area {
    margin: 0 0 20px;
    text-align: center;
  }
}
