.container {
  padding-top: 55px;

  @include sp() {
    margin: 0 0 30px;
    font-size: $large;
  }
}

.title {
  margin: 0 0 60px;
  font-size: $xlarge;
  text-align: center;

  @include sp() {
    margin: 0 0 30px;
    font-size: $large;
  }
}

.question {
  &-icon {
    font-size: 2.6rem;
    color: $white;
    vertical-align: top;

    @include sp() {
      font-size: 2rem;
    }
  }
}

.ranking {
  padding: 0;
  margin: 0;
  font-size: $medium;

  @include sp() {
    font-size: 2.4rem;
  }

  &-item {
    display: flex;
    align-items: center;
    margin: 0 0 40px;

    &:nth-of-type(1) {
      font-size: $xlarge;

      @include sp() {
        font-size: 2.4rem;
      }
    }

    &:nth-of-type(2) {
      font-size: 5.6rem;

      @include sp() {
        font-size: 2.4rem;
      }
    }

    &:nth-of-type(3) {
      font-size: $large;

      @include sp() {
        font-size: 2.4rem;
      }
    }
  }

  &-rank {
    flex-basis: 15%;
  }

  &-user {
    &__id {
      flex-basis: 50%;
    }
  }

  &-rate {
    flex-basis: 35%;

    &__icon {
      width: auto;
      height: 48px;
      margin: 0 10px 0 0;

      @include sp() {
        height: 24px;
        margin: 0 5px 0 0;
      }
    }

    & .first {
      width: auto;
      height: 64px;

      @include sp() {
        height: 24px;
      }
    }

    & .second {
      width: auto;
      height: 56px;

      @include sp() {
        height: 24px;
      }
    }

    & .third {
      width: auto;
      height: 48px;

      @include sp() {
        height: 24px;
      }
    }
  }
}

.error {
  &-message {
    font-size: $large;
    color: $red;
    text-align: center;

    @include sp() {
      font-size: $small;
    }
  }
}
