<div class="container">
  <p class="title">
    ランキング
    <nuxt-link to="/rank">
      <Fa :icon="['far', 'question-circle']" class="question-icon" area-hidden="true" />
    </nuxt-link>
  </p>
  <ul class="ranking">
    <li v-for="(ranking, index) in rankings" :key="ranking.userId" class="ranking-item">
      <span class="ranking-rank">{{ makeOrdinalRank(index + 1) }}</span>
      <span class="ranking-user__id">{{ ranking.userId }}</span>
      <span class="ranking-rate">
        <img
          :src="makeFullImagePath(ranking.image)"
          alt="rate icon"
          class="ranking-rate__icon"
          :class="{
            'first': index === 0,
            'second': index === 1,
            'third': index === 2,
          }"
        >{{ ranking.rate }}
      </span>
    </li>
  </ul>
  <p v-if="errorMsg" class="error-message">{{ errorMsg }}</p>
</div>
