.game {
  &-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
    margin: 0 auto;

    @include tablet() {
      max-width: 744px;
    }

    @include sp() {
      max-width: 300px;
    }
  }
}

.world {
  width: 1200px;
  height: 500px;
  margin: 0 auto 10px;

  @include tablet() {
    width: 744px;
    height: 310px;
  }

  @include sp() {
    width: 300px;
    height: 125px;
  }
}

.wait {
  padding: 100px 0 0;
  margin: 0 0 100px;

  @include tablet() {
    padding: 50px 0 0;
    margin: 0 0 50px;
  }

  @include tablet() {
    padding: 30px 0 0;
    margin: 0 0 30px;
  }

  &-msg {
    margin: 0;
    font-size: $medium;
    text-align: center;

    @include tablet() {
      font-size: $small;
    }

    @include sp() {
      font-size: $xsmall;
    }
  }
}

.turn {
  &-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px;
  }

  &-info {
    display: flex;
    align-items: center;
    font-size: $medium;

    @include tablet() {
      flex-wrap: wrap;
      justify-content: center;
      font-size: 2rem;
    }

    @include sp() {
      font-size: 1rem;
    }
  }

  &-count {
    margin: 0 10px;
  }

  &-countdown {
    display: flex;
    align-items: center;
    margin: 0 10px;

    & > span {
      min-width: 40px;
      text-align: right;

      @include tablet() {
        min-width: 22px;
      }

      @include sp() {
        min-width: 11px;
      }
    }
  }

  &-which {
    display: inline-block;
    padding: 10px;
    font-size: $small;
    text-align: center;
    border: 5px solid $gray;

    @include tablet() {
      font-size: 2rem;
    }

    @include sp() {
      padding: 2.5px;
      font-size: 1rem;
    }

    &__player {
      margin: 0;
    }

    &__word {
      margin: 0;
    }
  }

  &-inactive {
    color: $gray;
    border-color: $gray;
  }

  &-active {
    color: $white;
    border-color: $white;
  }
}

.word {
  box-sizing: border-box;
  width: 20%;
  margin: 0 20px 30px 20px;
  text-align: center;

  @include tablet() {
    width: 50%;
    padding: 0 20px 30px 20px;
    margin: 0;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;

    @include tablet() {
      margin: 0 0;
    }
  }
}

.btn {
  &-pause {
    position: relative;
    z-index: 999;
    text-align: right;
  }
}

.pause-choices {
  width: 100%;
  margin: 0 0 30px;
  text-align: center;

  &:last-of-type {
    margin: 0;
  }
}

.danger {
  font-size: $large;
  color: $red;

  @include tablet() {
    font-size: $small;
  }

  @include sp() {
    font-size: 1.2rem;
  }
}

.show {
  &-pc {
    display: inline-block;

    @include sp() {
      display: none;
    }
  }

  &-sp {
    display: none;

    @include sp() {
      display: inline-block;
    }
  }
}
