<div>
  <div class="game-container">
    <div class="world">
      <World ref="world" />
    </div>
    <div class="turn-box">
      <div
        class="turn-which"
        :class="{
          'turn-active': turn % 2 === 1,
          'turn-inactive': turn % 2 === 0,
        }"
      >
        <p class="turn-which-player">うさぎさんのターン</p>
        <p class="turn-which-word">
          [{{ showBaseWord(1) }}]
        </p>
      </div>
      <div v-if="isStart" class="turn-info">
        <p class="turn-count">ターン数:&nbsp;{{ turn }}</p>
        <p class="turn-countdown">
          のこり:&nbsp;
          <span :class="{'danger': second <= 5}">{{ second }}</span>
        </p>
      </div>
      <div
        class="turn-which"
        :class="{
          'turn-active': turn % 2 === 0,
          'turn-inactive': turn % 2 === 1,
        }"
      >
        <p class="turn-which-player">ばいきんくんのターン</p>
        <p class="turn-which-word">
          [{{ showBaseWord(2) }}]
        </p>
      </div>
    </div>
    <div v-if="!isStart" class="wait">
      <p class="wait_message">あいてのさんかをまっています...</p>
    </div>
    <div v-else class="word-wrapper">
      <div v-for="word in words" :key="word.id" class="word">
        <Button
          class="show-pc"
          :topLeft="word.direction.top_left"
          :topRight="word.direction.top_right"
          :bottomLeft="word.direction.bottom_left"
          :bottomRight="word.direction.bottom_right"
          @click.native="openWordModal(word)"
        >
          <template v-slot:text>
            <span>
              {{ word.word }}
              <Sonar
                :topLeft="word.direction.top_left"
                :topRight="word.direction.top_right"
                :bottomLeft="word.direction.bottom_left"
                :bottomRight="word.direction.bottom_right"
              />
            </span>
          </template>
        </Button>
        <Button
          class="show-sp"
          :topLeft="word.direction.top_left"
          :topRight="word.direction.top_right"
          :bottomLeft="word.direction.bottom_left"
          :bottomRight="word.direction.bottom_right"
          size="small"
          @click.native="openWordModal(word)"
        >
          <template v-slot:text>
            <span>
              {{ word.word }}
              <Sonar
                :topLeft="word.direction.top_left"
                :topRight="word.direction.top_right"
                :bottomLeft="word.direction.bottom_left"
                :bottomRight="word.direction.bottom_right"
              />
            </span>
          </template>
        </Button>
      </div>
    </div>
    <Modal ref="waitModal">
      <template v-slot:content>
        <p>あいてのターンちゅうです</p>
      </template>
    </Modal>
    <div class="btn-pause">
      <Button size="small" @click.native="openPauseModal">
        <template v-slot:text>
          <span>ポーズ</span>
        </template>
      </Button>
    </div>
    <ModalWithButtons ref="wordModal">
      <template v-slot:content>
        <p>『{{ selectedWord.word }}』でよろしいですか？</p>
      </template>
      <template v-slot:btns>
        <Button class="show-pc" @click.native="closeWordModal">
          <template v-slot:text>
            <span>よくない</span>
          </template>
        </Button>
        <Button class="show-pc" @click.native="movePlayerRequest(selectedWord)">
          <template v-slot:text>
            <span>よい</span>
          </template>
        </Button>
        <Button class="show-sp" size="small" @click.native="closeWordModal">
          <template v-slot:text>
            <span>よくない</span>
          </template>
        </Button>
        <Button class="show-sp" size="small" @click.native="movePlayerRequest(selectedWord)">
          <template v-slot:text>
            <span>よい</span>
          </template>
        </Button>
      </template>
    </ModalWithButtons>
  </div>
  <ModalWithButtons ref="confirmModal">
    <template v-slot:content>
      <p>ゲームを終了しますか？</p>
    </template>
    <template v-slot:btns>
      <Button @click.native="closeConfirmModal">
        <template v-slot:text>
          <span>しない</span>
        </template>
      </Button>
      <Button @click.native="quitGame">
        <template v-slot:text>
          <span>する</span>
        </template>
      </Button>
    </template>
  </ModalWithButtons>
  <TurnAnimation
    ref="turnAnimation"
    :count="turn"
    pekora="うさぎさん"
    baikin-kun="ばいきんくん"
  />
  <Modal ref="forceSelectWordModal">
    <template v-slot:content>
      <p>持ち時間が過ぎたため 『{{ selectedWord.word }}』を選択しました</p>
    </template>
  </Modal>
  <ModalWithButtons ref="disconnectModal" :show-always="true">
    <template v-slot:content>
      <p>せつぞくがきれました</p>
    </template>
    <template v-slot:btns>
      <Button @click.native="quitGame">
        <template v-slot:text>
          <span>タイトルへ</span>
        </template>
      </Button>
    </template>
  </ModalWithButtons>
  <ModalWithButtons ref="warningModal" :show-always="true">
    <template v-slot:content>
      <p>{{ warningMsg }}</p>
    </template>
    <template v-slot:btns>
      <Button @click.native="quitGame">
        <template v-slot:text>
          <span>タイトルへ</span>
        </template>
      </Button>
    </template>
  </ModalWithButtons>
  <ModalWithButtons ref="winModal" :show-always="true">
    <template v-slot:content>
      <p>『{{ winner }}』のかち！</p>
    </template>
    <template v-slot:btns>
      <Button @click.native="quitGame">
        <template v-slot:text>
          <span>おつかれ</span>
        </template>
      </Button>
    </template>
  </ModalWithButtons>
  <ModalWithButtons ref="pauseModal" :is-wrap="true">
    <template v-slot:content>
      <p>ポーズ</p>
    </template>
    <template v-slot:btns>
      <div class="pause-choices">
        <Button @click.native="restartGame">
          <template v-slot:text>
            <span>さいかい</span>
          </template>
        </Button>
      </div>
      <div class="pause-choices">
        <Button @click.native="quitGame">
          <template v-slot:text>
            <span>やめる</span>
          </template>
        </Button>
      </div>
    </template>
  </ModalWithButtons>
</div>
