<div>
  <div class="container">
    <Dealer ref="dealer" @proceedGame="proceedGame" />
    <World ref="world" class="world" />
    <div class="turn-box">
      <div
        class="turn-which"
        :class="{
          'turn-active': turn % 2 === 1,
          'turn-inactive': turn % 2 === 0,
        }"
      >
        <p class="turn-which-player">うさぎさんのターン</p>
        <p class="turn-which-word">
          [{{ getBaseWord(1) }}]
        </p>
      </div>
      <div v-if="this.$refs.world && this.$refs.world.isSpawned()" class="turn-info">
        <p class="turn-count">ターン数:&nbsp;{{ turn }}</p>
      </div>
      <div
        class="turn-which"
        :class="{
          'turn-active': turn % 2 === 0,
          'turn-inactive': turn % 2 === 1,
        }"
      >
        <p class="turn-which-player">ばいきんくんのターン</p>
        <p class="turn-which-word">
          [{{ getBaseWord(2) }}]
        </p>
      </div>
    </div>
    <div v-if="this.$refs.world && !this.$refs.world.isSpawned()" class="wait">
      <p class="wait_message">あいてのさんかをまっています...</p>
    </div>
    <div v-else class="word-wrapper">
      <div v-for="word in words" :key="word.id" class="word">
        <Button
          :topLeft="word.direction.top_left"
          :topRight="word.direction.top_right"
          :bottomLeft="word.direction.bottom_left"
          :bottomRight="word.direction.bottom_right"
          @click.native="openWordModal(word)"
        >
          <template v-slot:text>
            <span>
              {{ word.word }}
              <Sonar
                :topLeft="word.direction.top_left"
                :topRight="word.direction.top_right"
                :bottomLeft="word.direction.bottom_left"
                :bottomRight="word.direction.bottom_right"
              />
            </span>
          </template>
        </Button>
      </div>
    </div>
    <ModalWithButtons ref="wordModal">
      <template v-slot:content>
        <p>『{{ selectedWord.word }}』でよろしいですか？</p>
      </template>
      <template v-slot:btns>
        <Button @click.native="closeWordModal">
          <template v-slot:text>
            <span>よくない</span>
          </template>
        </Button>
        <Button @click.native="movePlayerRequest(selectedWord)">
          <template v-slot:text>
            <span>よい</span>
          </template>
        </Button>
      </template>
    </ModalWithButtons>
  </div>
  <div class="btn-pause">
    <Button size="small" @click.native="openPauseModal">
      <template v-slot:text>
        <span>ポーズ</span>
      </template>
    </Button>
  </div>
  <ModalWithButtons ref="pauseModal" :is-wrap="true">
    <template v-slot:content>
      <p>ポーズ</p>
    </template>
    <template v-slot:btns>
      <div class="pause-choices">
        <Button @click.native="restartGame">
          <template v-slot:text>
            <span>さいかい</span>
          </template>
        </Button>
      </div>
      <div class="pause-choices">
        <Button @click.native="quitGame">
          <template v-slot:text>
            <span>やめる</span>
          </template>
        </Button>
      </div>
    </template>
  </ModalWithButtons>
  <TurnAnimation
    ref="turnAnimation"
    :count="turn"
    pekora="うさぎさん"
    baikin-kun="ばいきんくん"
  />
  <ModalWithButtons ref="winModal" :show-always="true">
    <template v-slot:content>
      <p>『{{ winner }}』のかち！</p>
    </template>
    <template v-slot:btns>
      <Button size="large" @click.native="disconnect">
        <template v-slot:text>
          <span>おつかれ</span>
        </template>
      </Button>
    </template>
  </ModalWithButtons>
  <Modal ref="forceSelectWordModal">
    <template v-slot:content>
      <p>持ち時間が過ぎたため 『{{ selectedWord.word }}』を選択しました</p>
    </template>
  </Modal>
  <Modal ref="waitModal">
    <template v-slot:content>
      <p>あいてのターンちゅうです</p>
    </template>
  </Modal>
  <Modal ref="warningModal">
    <template v-slot:content>
      <p>{{ warningMsg }}</p>
    </template>
  </Modal>
</div>
