<div class="container">
  <h3 class="title">あそびかた</h3>
  <div class="outer">
    <div class="text">
      <p>{{ showText }}</p>
      <img v-if="showImage" :src="showImage" alt="rule image" class="image" />
    </div>
    <div class="btns">
      <Button v-if="!isFirst" @click.native="prevRule">
        <template v-slot:text>
          <span>まえへ</span>
        </template>
      </Button>
      <Button v-if="isLast === false" @click.native="nextRule">
        <template v-slot:text>
          <span>つぎへ</span>
        </template>
      </Button>
    </div>
  </div>
  <div class="btn-back">
    <Button to="/">
      <template v-slot:text>
        <span>タイトルへ</span>
      </template>
    </Button>
  </div>
</div>
