.container {
  padding-top: 50px;
  text-align: center;

  @include sp() {
    padding-top: 35px;
  }
}

.title {
  margin: 0 0 40px;
  font-size: 6.4rem;

  @include sp() {
    margin: 0 0 20px;
    font-size: 4.8rem;
  }
}

.box {
  box-sizing: border-box;
  padding: 40px;
  margin: 0 0 20px;
  background: $black;
  border: 5px solid $white;

  @include sp() {
    padding: 10px;
    margin: 0 0 20px;
    font-size: 2rem;
  }
}

.text {
  margin: 0 0 40px;
  font-size: 3.6rem;

  @include sp() {
    margin: 0 0 20px;
    font-size: 2rem;
  }
}

.image {
  width: 100%;
  margin: 0 0 40px;

  @include sp() {
    margin: 0 0 20px;
  }
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include sp() {
    justify-content: space-between;
  }

  & button {
    &:nth-of-type(2) {
      @include sp() {
        margin-left: 10px;
      }
    }

    &:last-of-type {
      @include sp() {
        margin-right: 10px;
      }
    }
  }
}

.page {
  font-size: 3.6rem;

  @include sp() {
    font-size: 1.6rem;
  }
}

.show {
  &-pc {
    display: inline-block;

    @include sp() {
      display: none;
    }
  }

  &-sp {
    display: none;

    @include sp() {
      display: inline-block;
    }
  }
}
