.container {
  padding: 50px 0 0;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 6rem;
}

.box {
  box-sizing: border-box;
  width: 1000px;
  padding: 40px 40px;
  margin: 40px auto;
  background: $black;
  border: 5px solid $white;
}

.text {
  margin: 0 0 40px;
  font-size: 3.6rem;
  text-align: center;
}

.image {
  width: 100%;
  margin: 0 0 40px;
}

.btns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.page {
  font-size: 3.6rem;
  line-height: 70px;
}

.btn {
  &-back {
    margin: 0 0 20px;
  }
}
