.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba($black, 0.3);
}

.modal {
  box-sizing: border-box;
  width: 650px;
  padding: 120px 40px 100px;
  background: $black;
  border: 5px solid $white;
  transform: scale(0);
  transform-origin: center;
  animation: modal 0.3s forwards;

  &-content {
    width: 100%;

    & p {
      margin: 0;
      font-size: 3.6rem;
      text-align: center;
    }
  }
}

.close {
  animation: close 0.3s forwards;
}

@keyframes modal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes close {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
