.container {
  padding-top: 150px;
  text-align: center;

  @include sp() {
    padding-top: 100px;
  }
}

.imgs {
  display: flex;
  align-items: center;
}

.img {
  width: auto;
  height: 100px;

  @include sp() {
    height: 50px;
  }

  &:nth-of-type(2) {
    margin: 0 0 0 auto;
  }
}

.box {
  padding: 60px 40px;
  border: 5px solid $white;

  @include sp() {
    padding: 30px 20px;
  }
}

.message {
  margin: 0 0 50px;
  font-size: 9.6rem;
  line-height: 1;

  @include sp() {
    margin: 0 0 25px;
    font-size: $large;
  }
}

.subtitle {
  margin: 0 0 50px;
  font-size: $large;

  @include sp() {
    margin: 0 0 25px;
    font-size: $small;
  }
}

.show {
  &-pc {
    display: inline-block;

    @include sp() {
      display: none;
    }
  }

  &-sp {
    display: none;

    @include sp() {
      display: inline-block;
    }
  }
}
