.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.btn-position {
  top: 75%;
  left: 25%;
  margin: 0 15px;
}

.form {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  text-align: center;
  display: flex;
  z-index: 2;
  
  &-btn{
    color: #fff;
    background-color:#000;
    border:2px solid #fff;
    width: 500px;
    height: 100px;
    font-size: 6.4rem;
    margin: 0 0;
  }

  &-select {
    width: 100%;
    max-width: 600px;
    margin-right: 10px;
  }

  &-text {
    font-size: 6.4rem;
    margin: 0 0 140px;
  }
}

.world {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  justify-content: space-between;
  z-index: 1;
  
  &-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 6.4rem;

    &__text {
      margin: 0 0;
    }
  }

  &-input {
    position: relative;
    width: 100%;
    max-width: 380px;
  }

  &-tooltip {
    position: absolute;
    bottom: -70px;
    right: 32.5px;
    transform: translateX(50%);
    animation: tooltip 3s forwards;
  }
}

@keyframes tooltip {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
