.container {
  display: flex;
	justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &-recruit {
    width: 100%;
    max-width: 750px;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  z-index: 2;
  margin: 0 0 280px;

  &-worldId {
    margin: 0 0 60px;
  }

  &-error {
    margin: 0 0 120px;
  }

  &-btn{
    color: $white;
    background-color:$black;
    border:2px solid $white;
    height: 100px;
    font-size: 4.8rem;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    padding: 0 20px;
    border: 5px solid $white;
    margin: 0;
  }

  &-select {
    width: 100%;
    max-width: 450px;
    margin: 0 50px 0 0;
  }

  &-text {
    font-size: 4.8rem;
    margin: 0 0 140px;
  }
}

.worldId {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
  margin: 0 0 120px;

  &-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 4.8rem;

    &__text {
      margin: 0;
    }
  }

  &-input {
    position: relative;
    width: 100%;
    max-width: 380px;
  }

  &-tooltip {
    position: absolute;
    bottom: -70px;
    right: 32.5px;
    transform: translateX(50%);
    animation: tooltip 3s forwards;

    &__icon {
      font-size: 2.8rem;
    }
  }
}

.btn {
  margin: 0 25px;

  &-area {
    display: flex;
    justify-content: center;
  }
}

.error {

	&-message {
		width: 100%;
		text-align: center;
		font-size: 4.8rem;
		color: $red;
		margin: 40px 0 0;
	}
}

@keyframes tooltip {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
