<div class="container">
  <form class="form" :class="{'form-world': worldId || successMsg, 'form-error': error}" @submit.prevent="onSubmit">
    <RadioGroup class="form-radio" :options="radioOptions" />
    <div class="form-nowrap">
      <div class="form-select">
        <SelectBox :options="options" :selected="selected" name="role" @change="onChange" />
        <div class="selected-character">
          <div class="selected-character__my">
            じぶん：
            <img v-if="selectedValue === player.pekora" :src="baikinkunImg" alt="baikinkun" class="selected-character__img">
            <img v-else :src="pekoraImg" alt="usagisan" class="selected-character__img">
          </div>
          <div class="selected-character__your">
            あいて：
            <img v-if="selectedValue === player.pekora" :src="pekoraImg" alt="usagisan" class="selected-character__img">
            <img v-else :src="baikinkunImg" alt="baikinkun" class="selected-character__img">
          </div>
        </div>
      </div>
      <button type="submit" class="form-btn">
        ぼしゅう
      </button>
    </div>
    <p v-if="error" class="error-message">ぼしゅうにしっぱいしました</p>
  </form>
  <div v-if="worldId" class="world">
    <label class="world-label">
      <span class="world-label__text">ワールドID</span>
      <div class="world-input">
        <TextBoxIcon :defaultValue="worldId" name="worldId" :readonly="true" @click="onClickCopy()" />
        <div v-if="tooltip.exists" class="world-tooltip">
          <Tooltip>
            <template v-slot:text>
              <span>
                <Fa icon="caret-right" class="world-tooltip__icon" area-hidden="true" />
                {{tooltip.text}}
              </span>
            </template>
          </Tooltip>
        </div>
      </div>
    </label>
  </div>
  <p v-if="successMsg" class="success-message">{{successMsg}}</p>
  <div class="btn-area">
    <Button to="/" class="btn">
      <template v-slot:text>
        <span>やめる</span>
      </template>
    </Button>
    <Button to="/gohome" class="btn" :disabled="checkDisabled()">
      <template v-slot:text>
        <span>はじめる</span>
      </template>
    </Button>
  </div>
</div>
