.container {
  display: block;
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.tab {
  &-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
  }

  &-label {
    padding: 15px 30px;
    font-size: 4.8rem;
    color: $gray;
    cursor: pointer;
  }

  &-content {
    width: 100%;
    margin: -5px;
    border-top: 5px solid $white;
  }

  &-switch {
    display: none;

    &:checked + .tab-label {
      z-index: 1000;
      color: $white;
      border: 5px solid $white;
      border-bottom: 5px solid $black;
    }

    &:checked + .tab-label + .tab-content {
      display: block;
    }
  }
}

.prevAndNext {
  &-icon {
    font-size: 30rem;
    color: $white;
    cursor: pointer;
  }
}

.character {
  &-select {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    max-width: 900px;
    height: 430px;
    margin: 50px auto 64px auto;
  }

  &-icon {
    margin-right: 10px;
    color: $green;
  }

  &-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
    font-size: 6.4rem;
  }

  &-btn {
    width: 270px;
    height: 100px;
    margin: 0 25px 70px;
  }
}
