.container {
  padding-top: 50px;
}

.tabs {
  box-sizing: border-box;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 5px solid $white;

  &-item {
    padding: 30px 40px;
    margin-bottom: -5px;
    font-size: 4.8rem;
    color: $gray;
    cursor: pointer;
    border: 5px solid transparent;

    @include sp() {
      padding: 5px 10px;
      font-size: 2rem;
    }
  }

  & .active {
    color: $white;
    border-color: $white $white $black;
  }
}

.content {
  width: 100%;
  padding-top: 50px;
  text-align: center;

  @include sp() {
    padding-top: 25px;
  }
}

.skin {
  &-select {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;

    @include sp() {
      margin-bottom: 20px;
    }
  }

  &-img {
    width: 430px;

    @include sp() {
      width: 200px;
    }
  }

  &-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 6.4rem;

    @include sp() {
      margin-bottom: 20px;
      font-size: 2.8rem;
    }
  }

  &-btn {
    margin-bottom: 20px;
  }
}

.caret {
  &-icon {
    font-size: 30rem;
    color: $white;
    cursor: pointer;

    @include sp() {
      font-size: 6.4rem;
    }
  }
}

.check {
  &-icon {
    margin-right: 10px;
    color: $green;
  }
}
