<div class="container">
	<div class="tab-wrap">
		<input id="Tab-Pekora" type="radio" name="tab" class="tab-switch" checked="checked" @click="switchTab(true)" />
		<label class="tab-label" for="Tab-Pekora">うさぎさん</label>
		<input id="Tab-Baikinkun" type="radio" name="tab" class="tab-switch" @click="switchTab(false)" />
		<label class="tab-label" for="Tab-Baikinkun">ばいきんくん</label>
		<div class="tab-content">
			<div class="character-select">
				<Fa icon="caret-left" class="prevAndNext-icon" @click="prevCharacter()" />
				<img v-if="isPekoraTab" :src='pekoras[currentPekoraPointer].img' alt="characterImage" >
				<img v-if="!isPekoraTab" :src='baikinkuns[currentBaikinkunPointer].img' alt="characterImage" >
				<Fa icon="caret-right" class='prevAndNext-icon' @click="nextCharacter()" />
			</div>
			<div class="character-name">
				<Fa :icon="['far', 'check-circle']" class="character-icon" v-show="isSelectedCharacter()" />
				<span v-if="isPekoraTab">{{ pekoras[currentPekoraPointer].name }}</span>
				<span v-if="!isPekoraTab">{{ baikinkuns[currentBaikinkunPointer].name }}</span>
			</div>
			<div>
				<Button class="character-btn" @click.native="selectCharacter" :disabled="isSelectedCharacter()">
					<template v-slot:text>
						<span>決定</span>
					</template>
				</Button>
			</div>
		</div>
	</div>
</div>
