<div class="container">
	<ul class="tabs">
		<li class="tabs-item" :class="{active: isPekoraTab}" @click="switchTab(true)">
			うさぎさん
		</li>
		<li class="tabs-item" :class="{active: !isPekoraTab}" @click="switchTab(false)">
			ばいきんくん
		</li>
	</ul>
	<div class="content">
		<div class="skin-select">
			<Fa icon="caret-left" class="caret-icon" @click="prevCharacter()" />
			<img v-if="isPekoraTab" class="skin-img" :src='pekoras[currentPekoraPointer].img' :alt="`${pekoras[currentPekoraPointer].name} スキン`" >
			<img v-if="!isPekoraTab" class="skin-img" :src='baikinkuns[currentBaikinkunPointer].img' :alt="`${baikinkuns[currentBaikinkunPointer].name} スキン`" >
			<Fa icon="caret-right" class='caret-icon' @click="nextCharacter()" />
		</div>
		<div class="skin-name">
			<Fa :icon="['far', 'check-circle']" class="check-icon" v-show="isSelectedCharacter()" />
			<span v-if="isPekoraTab">{{ pekoras[currentPekoraPointer].name }}</span>
			<span v-if="!isPekoraTab">{{ baikinkuns[currentBaikinkunPointer].name }}</span>
		</div>
		<div class="skin-btn">
			<Button @click.native="selectCharacter" :disabled="isSelectedCharacter()">
				<template v-slot:text>
					<span>決定</span>
				</template>
			</Button>
		</div>
	</div>
</div>
