.text-box {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 0 20px 0;
  margin: 0;
  font-size: $large;
  text-align: left;
  border: none;
  outline: none;

  @include sp() {
    height: 50px;
    font-size: $small;
  }
}

.align {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}
