.hamburger-menu {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 2;
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 44px;
  cursor: pointer;
  transition: all 0.3s;

  @include sp() {
    top: 25px;
    right: 25px;
    width: 30px;
    height: 26.4px;
  }

  & span {
    position: absolute;
    left: 0;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    transition: all 0.3s;

    @include sp() {
      height: 2.4px;
    }

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 20px;

      @include sp() {
        top: 12px;
      }
    }

    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}

.active {
  & span:nth-of-type(1) {
    transform: translateY(20px) rotate(-45deg);

    @include sp() {
      transform: translateY(12px) rotate(-45deg);
    }
  }

  & span:nth-of-type(2) {
    opacity: 0;
  }

  & span:nth-of-type(3) {
    transform: translateY(-20px) rotate(45deg);

    @include sp() {
      transform: translateY(-12px) rotate(45deg);
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 100vh;
  overflow: hidden;
  background: $black;
  border-left: 5px solid $white;
  transition: all 0.3s;
  transform: translate(420px, 0);

  @include sp() {
    width: calc(100vw - 50px);
    max-width: 260px;
  }

  &-active {
    transform: translate(0, 0);
  }

  &-content {
    padding: 0 0 0 60px;
    margin: 0;
    list-style: none;

    @include sp() {
      padding: 0 0 0 30px;
    }
  }

  &-item {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    font-size: $large;
    cursor: pointer;

    @include sp() {
      padding: 5px 0;
      font-size: $small;
    }

    &__name {
      position: relative;
      display: inline-block;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 5px;
        content: '';
        background: $white;
        transition: all 0.3s;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  & .disabled {
    color: $gray;
    cursor: default;

    &:hover {
      &::after {
        width: 0;
      }
    }
  }
}
